body{
    font-family: 'Poppins';

}
.background{
    height: 100vh;
    background-image: url('img/background.png');
    background-size: cover;
    background-position: center;
}
.header{
    background-color: none !important;
}
 
.header a {
    color: white !important;
    font-size: 16px;

}
.dropdown-menu a{
    color: black !important;
}
.navbar{
    padding: 0px;
    position: absolute !important;
    width: 100% !important;
}
.navbar-brand{
    padding: 0px;
    padding-left: 8%;
    margin: 0px;
    
}


.collapse{
    padding-right: 18%;

}
.test {
    padding-top: 10px;
    padding-bottom: 10px;
}





